


#videoHeroTextoBoton{
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #282c34;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: start;
    font-size: calc(10px + 2vmin);
    color: black;

}
/* TODO: SACAR ESTA PARTE ya que no hace falta aplicarselo al video
 .react-player {
    position: absolute;
    top: 0;
    left: 0;
  } */

  /* si quere que el ancho del video sea del 100% tenes que pisar "FORZAR" el valor por defecto del componente original */
  .react-player {
    height: auto !important;
  }


  #textoBoton{
      /* TODO: sacar el padding para que quede centrado  */
      /* padding-top: 20%; */
      z-index: 100;
      width: 100vw;
      text-align: center;
      align-items: center;
      justify-content: center;
      justify-items: center;
  }
  /* centramos el texto del titulo para que siempre se mantenga en el medio */
  #textoBotonHero h3 {
    text-align: center;
  }
  #boton{
    z-index: 100;
    align-items: center;
    justify-content: right;
    justify-items: right;
  }